html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, sans-serif;
  --main-color: rgb(255, 89, 11);
  --main-color-transparent: rgba(255, 89, 11, 0.1);
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

label {
  text-align: left;
}

input {
  outline: initial;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

input:focus {
  border-bottom: 1px solid black;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .0892857143em;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  background-color: white;
  color: var(--main-color);  
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.button .fas{
  font-size: 20px;
  margin-right: 15px;
}

.button:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color-transparent);
  padding: 10px;
  cursor: pointer;
}

.button:focus {
  border: 2px solid var(--main-color);
  background-color: var(--main-color-transparent);
  padding: 9px;
  font-weight: 700;;
  cursor: pointer;
  outline: initial;
}

.list > ul {
  display: flex;
  list-style: none;   
  padding: 0px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.list > ul > li {
  position: relative;
  background-color: white;
  display: flex;
  vertical-align: top;
  padding: 40px;
  margin: 10px;
  box-shadow: 0 0 2px 0px black;
  border-radius: 10px;
  width: 200px;
  overflow: hidden;
  align-items: center;
  max-height: 59px;
}

.list > ul > li:hover {
  border: 2px solid var(--main-color);  
  padding: 38px;
  background-color: var(--main-color-transparent);
}

.list > ul > li .fas {
  font-size: 40px;
  color:white;
  background-color:grey;
  font-size: 25px;
  padding: 17px 15px 17px 15px;
  border-radius:100%;
}

.list > ul > li > div.infos{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.list > ul > li > div.infos > p{
  margin: 0px;
}

.list > ul > li > div.infos > p.name {
  font-size: 20px;
  font-weight: bold;
}

.list > ul > li > div.infos > p.difficulty {
  font-style: italic;
  font-size: 14px;
}