.profile {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-right: -124px;
    transition-duration: 0.15s
}

.profile:hover {
    margin-right: 0px;
    transition-duration: 0.15s
}

.name {
    margin-right: 20px;
}

.fa-user {
    font-size: 50px;
    margin-right: 20px;
}

.fa-sign-out-alt {
    padding: 16px;
    font-size: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

.fa-sign-out-alt:hover {
    background-color: var(--main-color);
    color: white;
}

.fa-cog {
    padding: 16px;
    font-size: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

.fa-cog:hover {
    background-color: var(--main-color);
    color: white;
}

