.Profile {
  position: absolute; 
  top: 10px!important;
  right: 50px!important;
  /*denied Boostrap*/
  opacity: 1!important;
}

.Profile.close {
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid #313150;
/*   transition-duration: 2s; */
  cursor: pointer;
}

.Profile.close:hover {
  border: 2px solid orangered;
  top: 9px!important;
  right: 49px!important;
}

.Profile > .fas {
  position: relative;
/*   top: calc(50% - 15px); */
  margin-top: 33px;
  font-size: 30px;
  color: grey;
}

.Profile:hover > .fas {
  color: orangered;
}

.Profile.open > .fas {
  display: none;
}