.menuItem {
    color: white;
    padding: 13px 30px 13px 30px;
    display: flex;
    align-items: center;
}

.menuItem:hover {
    cursor: pointer;
}

.menuItem > .fas {
    margin-right: 10px;
    font-size: 25px;
}

.menuItem.selected {
    color: black;
    background-color: white;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 12px;
}