.content > div.trainingsList > div.backgroundItem {
    height: calc(100% - 160px);
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
    margin-top: -20px;
    background-color: rgba(101, 101, 101, 0.7);
    z-index: 99;
}

.content > div.trainingsList > div.backgroundItem > div.item {
    background-color: white;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.content > div.trainingsList > div.backgroundItem > div.item > form {
    padding: 0px 40px 40px 40px;
}

.content > div.trainingsList > div.backgroundItem > div.item > form > div.form-group {
    margin-bottom: 20px;
}

.content > div.trainingsList > div.backgroundItem div.add > i  {
    font-size: 20px;
    margin-right: 20px;
}

.content > div.trainingsList > div.backgroundItem div.chapter {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
}

.content > div.trainingsList > div.backgroundItem div.addChapter {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.content > div.trainingsList > div.backgroundItem div.addChapter:hover {
    border: 1px dotted grey;
    width: calc(100% - 2px);
    border-radius: 5px;
    height: 98px;    
}

.content > div.trainingsList > div.backgroundItem div.chapter div.part {
    width: 100%;
    border-right: 1px solid grey;
}

.content > div.trainingsList > div.backgroundItem div.chapter div.part div.session {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 5px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.content > div.trainingsList > div.backgroundItem div.chapter div.part div.addSession {
    width: calc(100% - 10px);
    border: 1px dotted white;
    height: 38px;   
    margin: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.content > div.trainingsList > div.backgroundItem div.chapter div.part div.addSession:hover {
    border: 1px dotted grey;
    width: calc(100% - 10px);
    border-radius: 5px;
    height: 38px;    
}

.content > div.trainingsList > div.backgroundItem div.chapter div.part div.session div.exercise {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content > div.trainingsList > div.backgroundItem div.chooseExercise {
    list-style: none;
    z-index: 110;
    min-height: 50px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 500px;
}

.content > div.trainingsList > div.backgroundItem div.chooseExercise > li.exercise {
    margin: 5px;
    padding:5px;
    background-color: white;
    cursor: pointer;
}