.content .trainingsList > ul > li.item > div.option {
    position: absolute;
    right: 0;
    margin-right: -72px;    
    transition-duration: 0.15s;
}

.content .trainingsList > ul > li.item:hover > div.option {
    margin-right: 0px;    
    transition-duration: 0.15s;
}

.content .trainingsList > ul > li.item > div.option > i {
    color: black;
    position: absolute;  
    right: 0;
    border-radius: 0;
    padding: 25px;      
}

.content .trainingsList > ul > li.item > div.option > i:hover {
    position: absolute;  
    right: 0;
    border-radius: 0;
    padding: 25px;     
    cursor: pointer;    
}

.content .trainingsList > ul > li.item > div.option > i.fa-edit {    
    top: 0;
    padding: 22px;
    background-color: white;
}

.content .trainingsList > ul > li.item > div.option > i.fa-trash-alt { 
    bottom: 0;   
    padding: 25px;
    color: red;
    background-color: white;
}

.content .trainingsList > ul > li.item > div.option > i.fa-edit:hover {    
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    padding-top: 21px;
}

.content .trainingsList > ul > li.item > div.option > i.fa-trash-alt:hover { 
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-bottom: 24px;
}