.content > div.usersList > div.backgroundItem {
    height: calc(100% - 160px);
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
    margin-top: -20px;
    background-color: rgba(101, 101, 101, 0.7);
    z-index: 99;
}

.content > div.usersList > div.backgroundItem > div.userItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.content > div.usersList > div.backgroundItem > div.userItem > i {
    font-size: 50px ;
}

.content > div.usersList > div.backgroundItem > div.userItem div.userInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
}