.content > div.usersList > div.item {
    height: calc(100% - 160px);
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
    margin-top: -20px;
    background-color: rgba(101, 101, 101, 0.7);
    z-index: 99;
}

.content > div.usersList > div.item > div.userItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0x 40px 40px 40px ;
}

.content > div.usersList > div.item > div.userItem > i {
    font-size: 50px ;
}

.content > div.usersList > div.item > div.userItem > div.option {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.content > div.usersList > div.item > div.userItem > div.option > div {    
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    align-items: center;
}

.content > div.usersList > div.item > div.userItem > div.option > div > i {    
    font-size: 20px;
}

.content > div.usersList > div.item > div.userItem > div.option > div:hover {
    background-color: lightgray;
    cursor: pointer;
}