.content .exercisesList {  
    width: 100%;
}

.content .exercisesList > ul > li > div.name {
    width: 50%;
}

.content .exercisesList > ul > li > div.location {
    width: 25%;
}

.content .exercisesList > ul > li > div.difficulty {
    width: 25%;
}

.content .exercisesList > div.tab > div.nameF {
    width: 50%;
}

.content .exercisesList > div.tab > div.locationF {
    width: 25%;
}

.content .exercisesList > div.tab > div.difficultyF {
    width: 25%;
}
