div.form {
    width:100%;
}

div.form-group {
    display: flex;
    flex-direction: column;
}

div.form-group > input {
    padding-top : 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

div.form-group > label {
    color: var(--main-color);
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tuile.signup {
    padding: 20px;
    margin-top: 100px;
    height: fit-content;
    min-height: 316px;
    display: flex;
    justify-content: center;
}

.tuile.login .signupButton {
    color: rgb(3, 151, 201);
    font-size: 12px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.tuile.login .signupButton:hover {
    cursor: pointer;
    color: rgb(0, 105, 139);
}