.content .trainingsList {
    width: 100%;
}

.content .exercisesList > ul > li > div.name {
    width: 100%;
}

.content .exercisesList > div.tab {
    font-weight: bold;
}

.content .exercisesList > div.tab > div.nameF {
    width: 100%;
}