.content.admin .exercisesList {  
    width: 100%;
}

.content.admin .exercisesList > ul > li.addExercise {
    align-items: center;
    font-weight: bold;
}


.content.admin .exercisesList > ul > li.addExercise >i.fa-plus {
    padding: 18px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: white; 
    margin-right: 20px;
}

.content.admin .exercisesList > ul > li.addExercise:hover {
    cursor: pointer;
}

.content.admin .exercisesList > ul > li.addExercise:hover >i.fa-plus {
    color: white;
    background-color: var(--main-color); 
    margin-right: 20px;
}
